<ion-header>

  <ion-navbar>
    <ion-title>Aulas do Dia</ion-title>
    <!--<ion-datetime displayFormat="DDDD - DD/MM" [(ngModel)]="myDate"></ion-datetime>-->
    
  </ion-navbar>

</ion-header>


<ion-content>
   
  <h1>Chamadas a fazer</h1>
    <ion-card *ngFor="let turma of professor.turmas" (click)= "turmaClicada($event, turma)">

        <ion-item *ngIf="turma.chamadaRealizada == false" style="border-color:black">
          <h2>{{turma.nome}}</h2>
          <p></p>
        </ion-item>
      </ion-card>


  <h1>Chamadas feitas</h1>
      <ion-card *ngFor="let turma of professor.turmas" (click)= "turmaClicada($event, turma)">

        <ion-item *ngIf="turma.chamadaRealizada == true" style="border-color:black">
          <h2>{{turma.nome}}</h2>
          <p></p>
        </ion-item>
      </ion-card>
  </ion-content>

