<ion-header>

    <ion-navbar>
      <ion-title>Presença</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-card *ngFor="let aluno of novaChamada.alunos">
  
          <ion-item>
            <h2>{{aluno.nome}}</h2>
            <h2>{{aluno.status}}</h2>
            <p></p>
          </ion-item>

         
        </ion-card>
        <button *ngIf="turma.chamadaRealizada == false" ion-button block color="secondary" (click) = "finalizar()" style="margin-right: 135px;">Finalizar Chamada</button>

        <button ion-button block color="danger" (click) = "refazer(novaChamada)" style="margin-right: 135px;">Refazer Chamada</button>
  </ion-content>